<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


  <title>Blood bank page</title>
<style>
    .background {
      background: url(https://www.fi.edu/sites/default/files/styles/featured_large/public/General_EduRes_Heart_RedBloodCells.jpg?itok=go6zfwwv>) ;
      border: 2px solid black;
    }
    #topheader{
    border-bottom: 1px solid silver;
    }
    #topheader a{
        color: #130f40;
        font-weight: 600;
        font:  0.89rem;
      padding: 0;
      box-sizing: border-box;
    }
    #content {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 25px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  #content td, #content th {
    border: 1px solid #ddd;
    padding: 8px;
  }

    #content tr:nth-child(even){background-color: #f2f2f2;}

    #content tr:hover {background-color: #ddd;}

    #content th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: #9980FA;
      color: white;
    }
    .transbox {
      margin: 30px;
      background-color: #ffffff;
      border: 1px solid black;
      opacity: 0.6;
    }

    .transbox p {
      margin: 5%;
      font-weight: bold;
      color: #000000;
    }
    .column {
      padding-left: 10px;
      padding-right: 10px;
      column-gap: 100px;
      float: left;
      width: 20%;
    }
        .row:after {
      content: "";
      display: table;
      clear: both;
    }
        .full-footer{
      background-color: #192a56;
      width: 100%;
      bottom: 0;
      }
      #topheader{
    border-bottom: 1px solid silver;
    }
    /* blood bank body*/
    .top-footer p{
      color: white;
    }
    .top-footer a{
      color: white;
      font-weight: 600;
    }
    .top-footer h3{
      color: white;
    }
    .bottom-footer{
      background-color: #192a56;
    }
    .bottom-footer p{
      background-color: white;
      text-align:center;
    }
     body{
    font-family: montserrat;
    }
   /* Navbar container */
      .navbar {
        overflow: hidden;
        background-color: black;
        font-family: Arial;
      }

      /* Links inside the navbar */
      .navbar a {
        float: left;
        display: block;
        font-size: 16px;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      .navbar a:hover {
        background-color: green;
        color: white;
      }
      .navbar a.active{
        background-color: #4CAF50;
        color: white;
      }
      /* The dropdown container */
      .dropdown {
        float: left;
        overflow: hidden;
      }
      /* Dropdown button */
      .dropdown .dropbtn {
        font-size: 16px;
        border: none;
        outline: none;
        color: white;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit; /* Important for vertical align on mobile phones */
        margin: 0; /* Important for vertical align on mobile phones */
      }

      /* Add a red background color to navbar links on hover */
      .navbar a:hover, .dropdown:hover .dropbtn {
        background-color: green;
      }

      /* Dropdown content (hidden by default) */
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }

      /* Links inside the dropdown */
      .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
      }
      /* Add a background color to dropdown links on hover */
      .dropdown-content a:hover {
        background-color: #ddd;
      }
      /* Show the dropdown menu on hover */
      .dropdown:hover .dropdown-content {
        display: block;
      }
</style>

  </head>
 <body>
<header>

    <div class="p-1" id="topheader">
      <div class="container">
        <div class="row">
          <div class="col-12 ">
            <a class="p-1" href="tel:+ 0123456789"> <i class="fa fa-phone" aria-hidden="true"></i> + 0123456789</a>
            <a class="p-1" href="mailto: abc@gmail.com" ><i class="fa fa-envelope" aria-hidden="true" ></i>abc@gmail.com</a>
          </div>
        </div>
      </div>
    </div>

    <div class="navbar">
      <a  href="default"> HOME</a>
     
        <a class="active" href="bloodbank"> BLOOD BANK</a>
          <a href="blood">BLOOD</a>
       </div>
</header>
<hr>
 
  <center><img  src="https://www.metrohospitals.com/Adminpanel/SpecialitiesImg/ebcd4bd2a80944fea7848c4b21b6d43a.png " width="750px" height="250px"></center> 

<div id="section1" class="container-fluid">
  <h1>DONOR</h1>
  <table id="content">
    
    <% if(userdata.length!=0){
      var i=1;
      userdata.forEach(function (data) {
    %> <tr>
    <tr>
      <th>INFORMATION <%=new Date(Date.now()).toLocaleString(); %></th>
      <th></th>
    </tr>
    </tr>
    <tr>
      <td>Get number of donors today</td> 
      <td> <%= data.donor %> </td>
    </tr>
    <tr>
      <td>Get number of A+ donors today</td> 
      <td> <%= data.a_pos %> </td>
    </tr>
    <tr>
      <td>Get number of A- donors today</td> 
      <td> <%= data.a_neg %> </td>
    </tr>
    <tr>
      <td>Get number of B+ donors today</td> 
      <td> <%= data.b_pos %> </td>
    </tr>
    <tr>
      <td>Get number of B- donors today</td> 
      <td> <%= data.b_neg %> </td>
    </tr>
    <tr>
      <td>Get number of AB+ donors today</td> 
      <td> <%= data.ab_pos %> </td>
    </tr>
    <tr>
      <td>Get number of AB- donors today</td> 
      <td> <%= data.ab_neg %> </td>
    </tr><tr>
      <td>Get number of O+ donors today</td> 
      <td> <%= data.o_pos %> </td>
    </tr><tr>
      <td>Get number of O- donors today</td> 
      <td> <%= data.o_neg %> </td>
    </tr>
    
    <% i++; }) %>
    <% } else { %>
      <tr>
       <td colspan='7'>NO DATA FOUND </td>
      </tr>
    <% } %>
  </table>
</div>

    <div class="container">
      <ul class="pager">
      <li class="previous"><a href="/bloodbank">DONOR</a></li>
      <li class=""><a href="/bloodbank1">RECEIVER</a></li>
      <li class="next"><a href="/bloodbank2">STOCK</a></li>
      </ul>
    </div>


<div class="background" >
  <div class="transbox">
 <h3>Some Slogans on Blood Donation</h3>
  <ul style=" color: red; font-size: 20px;  font-weight: 10rem" >
        <li> Your blood will save a life!</li>
        <li>Give your Blood to save a life!</li>
        <li>Save a life donate your Blood</li>
         <li>When Blood is needed, Give!</li>
         <li>Be a Blood Donor and save a life.</li>
         <li>Help them, Help others, make your Blood Donation.</li>
         <li>Heart beat goes on - when you give Blood</li>
          <li>Life is precious. Save a life by donating a little bit of your Blood.</li>
          <li>The blood is red gold in time of saving a life.</li>
         <li>Donate Blood so that others may live.</li>
          <li>Have a heart. Give Blood.</li>
          <li>Five minutes of your time + 350ml. of your blood = One life saved.</li>
          <li>A life is waiting for a bag of Blood from you.</li>
          <li>vote for life with your Blood.</li>
  </ul>  
</div>
</div>
<hr>

<footer class="full-footer">
   <div class="container top-footer">
     <div class="row">
       <div class="column">
           <img class="img-fluid" src="https://www.ispecimen.com/wp-content/uploads/2016/01/blood-156063_960_720.png" height="100px" width="100px" alt="">
           <p> “Your blood is replaceable. A life is not.” <br>
            “Your little effort can give others second chance to live life.” <br>
            “To give blood you need neither extra strength nor extra food, and you will save a life.”<a href="#">Read more....</a></p>
          <a style="color: white" class="p-1" href="#" ><i class="fa fa-envelope" aria-hidden="true"></i>
</a>
          <a style="color: white" class="p-1" href="#" ><i class="fa fa-twitter" aria-hidden="true"></i></a>
          <a style="color: white" class="p-1" href="#" ><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
          <a style="color: white" class="p-1" href="#" ><i class="fa fa-instagram" aria-hidden="true"></i>
</a>
       </div>

       <div class="column">
        <h3>Important links</h3>
       <a href="https://en.wikipedia.org/wiki/Blood_donation_in_India" ><i>Blood Donation</i></a><br>
       <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6033128/"> <i>Soical awareness</i> </a><br>
       <a href="https://www.brmsonline.com/blog/wellness/healthcare/2018/benefits-of-blood-donation"> <i>Health Benefits</i> </a><br>
       <a href="https://www.redcrossblood.org/donate-blood/blood-donation-process/donation-process-overview.html"> <i>Blood Donatin Process</i> </a><br>
    </div>

      <div class="column ">
         <h3>Our Services</h3>
           <a href="#">Govt</a><br>
           <a href="#">Our Camps</a><br>
           <a href="#">Our Users</a><br>
           <a href="#">Social Services</a><br>
       </div>

     <div class="column">
          <h3>Contact Us</h3>
          <a class="p-1" href="tel:+ 0123456789"> <i class="fa fa-phone" aria-hidden="true"></i> + 0123456789</a><br>
            <a class="p-1" href="mailto: abc@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i>abc@gmail.com</a><br>

            <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="" frameborder="0"></iframe>
            </div>
      </div>
       </div>
  </div>

  <div class="container-fluid bottom-footer">
      <div class="row">
        <div class="col text-center">
          <p>
            Copyrights @ 2020 - All rights reserved
          </p>
        </div>
      </div>
  </div>
</footer>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>
